<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinhua.example.spring.mybatisplus.mapper.MgVideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.xinhua.example.spring.mybatisplus.model.po.MgVideo">
        <result column="id" property="id"/>
        <result column="extend_info" property="extendInfo"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="create_at" property="createAt"/>
        <result column="create_by" property="createBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="pid" property="pid"/>
        <result column="drama_id" property="dramaId"/>
        <result column="name" property="name"/>
        <result column="comment" property="comment"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        extend_info,
        create_at,
        create_by,
        update_at,
        update_by,
        deleted,
        version,
        pid, drama_id, name, comment
    </sql>

</mapper>
