<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xinhua.example.spring.mybatisplus.mapper.MgVideoNumMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.xinhua.example.spring.mybatisplus.model.po.MgVideoNum">
        <result column="id" property="id"/>
        <result column="extend_info" property="extendInfo"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="create_at" property="createAt"/>
        <result column="create_by" property="createBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="pid" property="pid"/>
        <result column="video_id" property="videoId"/>
        <result column="video_num" property="videoNum"/>
        <result column="media_id" property="mediaId"/>
        <result column="mp4_url" property="mp4Url"/>
        <result column="expires_time" property="expiresTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        extend_info,
        create_at,
        create_by,
        update_at,
        update_by,
        deleted,
        version,
        pid, video_id, video_num, media_id, mp4_url, expires_time
    </sql>

</mapper>
